.App {
  direction: rtl;
  /* font-family: AraHamah1964; */
}

.react-calendar__navigation {
  text-align: right;
  font-size: 28px;
}

.react-calendar__title {
  height: 500px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px grey; */

  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #e7934e;

  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #e47a22;
}
::-moz-selection {
  background: #66c4ca;

  color: white;
}

::-webkit-selection {
  background: #f38328;

  color: white;
}

::selection {
  background: #f38328;

  color: white;
}
