<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @name %></h1>
    <p> <%= @message %> </p>
    <br>
    <span>Regards</span>
    <br>
    Mr Carrot Support Team

  </body>
</html>